{% extends '@App/Layout/layout.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Projects</strong>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                {% for project in result.resource %}
                <li class="list-group-item">
                    <a href="{{ url('app_homepage_project', {"project" : project.canonical}) }}">
                        {{ project.name }}
                    </a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>

{% endblock %}