{% extends '@App/Layout/layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Reset your password</button>
    {{ form_end(form )}}

{% endblock %}
