app_homepage:
    path:     /
    defaults: { _controller: AppBundle:Default:index }

app_account:
    prefix: /account
    resource: "routing/account.yml"

app_users:
    prefix: /users
    resource: "routing/users.yml"
    defaults:
        resource: user

app_security:
    resource: "routing/security.yml"

app_oauth_authorize:
    resource: "routing/api/oauth-authorize.yml"